<%= form_for :photos, :url => update_multiple_photos_path, :html => { :method => :put } do |f| %>
<% for photo in @photos %>
<p>
<%= f.fields_for photo, :index => photo.id do |p|%>
	<%= p.check_box :_delete  %>
	<%= render :partial => "photos/thumb", :locals => {:photo => photo } %>
	<%= p.text_field :title %>
	<%= p.text_field :tags, :value => photo.tag_list %>
<% end%>
</p>
<% end%>
  <p><%= f.submit "Enregistrer", class: 'btn btn-success'  %></p>
<% end %>

<%= link_to @album, class: "btn btn-default" do %>
<%= "Retour à l'album " + @album.title %>
<% end %>
