<%= content_for :javascript do %>
<%= javascript_include_tag "tag/tag"  -%>
<% end %>
<%= hidden_field_tag :all_tags, @tags %>
<%= form.label "Titre" %><br />
<%= form.text_field :title %><br />
<br />
<%= form.label "Liste des tags" %><br />
<%= form.text_field :tag_list, { :autocomplete => "off", :class => 'tag_list'} %><br />
<br />
<%= form.label :description %><br />
<%= form.text_area :description %><br />
<br/>
<p>Emplacement du fichier: <%= @photo.file.path %></p>
