<h1>Modifier la photo</h1>

<%= image_tag @photo.file.preview.url %>
 
<%= form_for @photo do |f| %>
<%= hidden_field_tag :collection_id, params[:collection_id] %>
<%= hidden_field_tag :album_id, params[:album_id] %>
  <%= f.error_messages %>
  <%= render :partial => "form", :object => f %>
  <%= f.submit "Mettre à jour", class:'btn btn-success' %>
<%= link_to("Supprimer", { :action => "destroy", :id => @photo, :collection_id => params[:collection_id] },
  :confirm => "Êtes-vous sûr?",
  :method => :delete, class: 'btn btn-danger') %>
<% end %>

<%= content_for :action_links do %>
<% end %>
