<h2><%= @photo.title%></h2>

<div id="fullimage">
	<div id="navigation">
		<p class="links">
			<% unless @previous.nil? %>
			<%= link_to [ @photo.album.collections.first, @photo.album, @previous], class: 'btn btn-info' do %>
			<%= content_tag(:i, "", class: 'fa fa-arrow-left') %>
			<% end %>
			<% end %>
			<% unless @next.nil? %>
			<%= link_to [ @photo.album.collections.first, @photo.album, @next], class: 'btn btn-info' do %> 
			<%= content_tag(:i, "", class: 'fa fa-arrow-right') %>
			<% end %>
			<% end %>
		</p>
	</div>
  <p><%= link_to_if @next, image_tag(@photo.file.single.url ), [ @photo.album.collections.first, @photo.album, @next] %></p>
</div>
<%= link_to photo_carts_path(photo_id: @photo.id), method: :post, remote: true, class: 'btn btn-success' do %>
<%= content_tag(:i, "", class: 'fa fa-plus') %>
<%= "Ajouter au panier" %>
<% end %>
<%= link_to photo_cart_path(photo_id: @photo.id), method: :delete, remote: true, class: 'btn btn-danger' do%>
<%= content_tag(:i, "", class: 'fa fa-minus') %>
<%= "Supprimer du panier" %>
<% end %>

<p><%= @photo.description %></p>
<p>Tags: 
<% for tag in @photo.tags.map{|tag|tag.title}.sort %>
<%= link_to tag, tag_photos_path(tag) %>
<% end %>
</p>

<%= content_for :action_links do %>
<% if has_role?("admin") %>
<% if params[:collection_id] %>
<%= link_to edit_collection_album_photo_path(params[:collection_id], params[:album_id], @photo), class: 'btn btn-warning' do %>
<%= content_tag(:i, "", class: 'fa fa-edit') %>
<%= "Modifier la photo" %>
<% end %>
<% else %>
<%= link_to edit_photo_path(@photo), class: 'btn btn-warning' do%>
<%= content_tag(:i, "", class: 'fa fa-edit') %>
<%= "Modifier la photo" %>
<% end %>
<% end %>
<% end %>
<% end %>
