<!DOCTYPE html>
<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title><%= ENV['TITLE'] || "Photos" %></title>
	<meta name="viewport" content="width=device-width">
	<meta name="viewport" content="initial-scale=1.0">
	<%= yield :head %>
	<%= stylesheet_link_tag 'application' %>
	<%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css' %>
	<%= csrf_meta_tag %>
</head>
<body>

<div id="navbar-left">
<a href="http://www.domaine-temporaire-test.fr/" class="brand blink"><img src="http://www.domaine-temporaire-test.fr/wp-content/uploads/2014/08/logo_michel_nunes.png" data-alt-src="http://www.domaine-temporaire-test.fr/wp-content/uploads/2014/08/logo_michel_nunes_bw.png" alt="Michel Nunes" class="logo-img swap" height="60px" ></a>
<ul class="nav">
<li><a href="http://www.domaine-temporaire-test.fr/" title="Accueil">Accueil</a></li>
<li class="current_page_item"><a href="#">Boutique</a></li>
<li><a href="http://www.domaine-temporaire-test.fr/gallery/">Galerie</a></li>
<li><a href="http://www.domaine-temporaire-test.fr/livre-dor/">Livre d’or</a></li>
<li><a href="http://www.domaine-temporaire-test.fr/prendre-rendez-vous/">Prendre rendez-vous</a></li>
<li><a href="http://www.domaine-temporaire-test.fr/partenaires/">Partenaires</a></li>
<li><a href="http://www.domaine-temporaire-test.fr/contact/">Contact</a></li>
</ul>
</div>

<div id="container">
<div id="header">
	<h1>
		<%= link_to(if ENV['LOGO'] then image_tag(ENV['LOGO']) else (ENV['TITLE'] || "Boutique") end, main_app.root_path) %>
	</h1>
	<div id="account_links">
	<% if current_user %>
	<%= link_to main_app.carts_path, class:"btn btn-warning" do %>
	<%= content_tag(:i, "", class:'fa fa-shopping-cart') %>
	<%= "Votre panier" %>
	<% end %>
	<%= link_to '#', class:"btn btn-info" do %>
	<%= content_tag(:i, "", class:'fa fa-user') %>
	<%= current_user.name %>
	<% end %>
	<%= link_to main_app.logout_path, class: "btn btn-danger" do %>
	<%= content_tag(:i, "", class: "fa fa-sign-out") %>
	<%= "Déconnexion" %>
	<% end %>
	<% end %>
	</div>
	<%= form_tag main_app.albums_path, { :method => :get, :id => :search } do -%>
		<input type="text" name="q" class="textfield" placeholder="Album"/>
		<input type="submit" value="Rechercher" class="button btn btn-success" />
	<% end -%>
    <hr class="seperator" />
    <%= breadcrumbs %>
</div>

<div id="content">
<div id="action_links">
<%= yield :action_links %>
</div>
	<p id="notice"><%= flash[:notice] %></p>
	<%= yield %>
</div>

<div id="footer">
</div>
</div>

<%= javascript_include_tag 'jquery-1.4.2.js', 'rails', 'balder' %>
<%= yield :javascript %>
</body>
</html>
